.clear-btn{
    display: flex;
    height: 3.3em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.8em;
    background: #fff;
    color: #000;
    outline: 1px solid #c73535;
}